
p,a {
    font-family: Arial;
    text-align: center;
    background-image: linear-gradient(to right, #D5D1CC, #1C1004);
    background-clip: text;
    color:transparent;
    font-size: 50px;
    z-index: 1;
}
a{
    color:yellow;
    text-decoration: none;
    text-align: center;
}
svg {
    position: absolute;
    z-index: -1;
    max-width: 10000px;
}
body {
    background-image: linear-gradient(to bottom right, #252525, #000000);
    position: relative;
}