
p,a {
    font-family: Arial;
    text-align: center;
    background-image: linear-gradient(to right, #D5D1CC, #1C1004);
    background-clip: text;
    color:transparent;
    font-size: 10vb;
    z-index: 1;
}
a{
    color:#E59241;
    text-decoration: none;
    text-align: center;
}
svg {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    left: 0;
    top: 0;
}
body {
    background-image: linear-gradient(to bottom right, #252525, #000000);
}