#heading,#footer{
    text-align: left;
    font-size: 3vb;
}
#footer{
    font-size: 2vb;
}
p,a {
    font-family: Arial;
    background-image: linear-gradient(to right, #D5D1CC, #1C1004);
    background-clip: text;
    color:transparent;
    font-size: 10vb;
    z-index: 1;
}
a{
    color:#E59241;
    text-decoration: none;
}
svg {
    position: absolute;
    z-index: 1;
    max-width: 100vmax;
    left: 0;
}
body {
    text-align: center;
    background-image: linear-gradient(to bottom right, #252525, #000000);
}